.imagen-destacada {
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: #000;
    margin: 0px 0;
  }
  
  .imagen-destacada img {
    width: 70%;
    max-width: 1200px; /* Ajusta este valor según sea necesario */
    height: auto;
    border-radius: 20px; /* Añade bordes redondeados */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Añade sombra */
    transition: transform 0.3s ease; /* Añade una transición suave */
  }
  
  .imagen-destacada img:hover {
    transform: scale(1.0); /* Aumenta el tamaño al pasar el ratón */
  }
  